@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Marmelad&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}

body {
  width: 100%;
  height: 870px;
  background-image: url('../images/background_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  width: 100%;
  padding: 2vh 6vw;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.logo h1 {
  font-family: 'Marmelad', sans-serif;
  color: #01395e;
  font-size: 2.4rem;
}

.btn {
  border: none;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  background-color: #01395e;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1.7rem;
}

.hover-pointer:hover {
  cursor: pointer;
}

.main-container {
  width: 88vw;
  position: absolute;
  top: 100px;
  left: 6vw;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 400px;
  padding: 18px 20px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.search-pannel, .form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.pannel-field, .form-control {
  background-color: #fff;
  border-radius: 20px;
  padding: 5px 4vw;
  width: 100%;
}

.price {
  margin: 0 auto;
  font-size: 1.7rem;
  font-weight: normal;
}

#buttons-wrapper {
  margin: 0 auto ;
  text-align: center;
}

#buttons-wrapper>button {
  margin-bottom: 5px;
}

.btn.order {
  background-color: #ca7641;
}

.btn:disabled {
  background-color: #8b8b8b;
  cursor: auto;
}

.pannel-field>.field-title, .form-control>label {
  font-size: 1.4rem;
  color: #555
}

.pannel-field>.data {
  font-size: 1.7rem;
  margin: 5px 0;
}

.options-pannel {
  display: none;
  justify-content: center;
  align-items: flex-start;
}

.options.pannel-field {
  display: none;
}

.close {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  position: absolute;
  top: -10px;
  right: -10px;
}

.close-img {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close.close-seats {
  top: 0;
  right: 0;
}

.option.origin:hover, .option.destination:hover {
  cursor: pointer;
  font-weight: 600;
}

/* calendar start*/

.calendar {
  padding: 0;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  display: none;
}

.month {
  width: 100%;
  height: 4rem;
  background-color: #01395e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  border-radius: 20px 20px 0 0;
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  line-height: 4rem;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.weekdays {
  width: 100%;
  height: 4rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc((86vw - 42px) / 7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.2rem;
}

.days div {
  font-size: 1.3rem;
  margin: calc(1vw / 14);
  width: calc((86vw - 54px) / 7);
  height: calc((366px - 36px - 10px - 8rem) / 6);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.days div:hover:not(.prev-date):not(.next-date):not(.past-days), .days .chosen {
  background-color: #01395e;
  cursor: pointer;
  color: #fff;
}

.prev-date,
.next-date {
  opacity: 0;
}

.past-days {
  color: #bbb;
}
/* calendar end*/

.passengers-container {
  margin: 15px 0;
  display: grid;
  grid-template-columns: 1fr repeat(3, 15%);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  font-size: 1.7rem
}

.passengers-container>* {
  align-self: center
}

.passenger-type-info {
  font-size: 1.2rem;
  color: #777
}

.passenger-amount, .passenger-sign {
  margin: 0 auto;
  color: #01395e;
}

.passenger-amount {
  font-size: 2rem;
  font-weight: bold;
}

.accept-passengers {
  grid-area: 4 / 1 / 5 / 5;
  margin: 15px auto 0;
}

.weather-pannel {
  top: 410px;
  height: auto;
  padding: 10px 20px;
  display: none;
}

.weather-pannel div {
  padding: 0 4vw;
  font-size: 1.7rem;
  display: none;
  justify-content: center;
  align-items: center;
}

.weather-pannel div.origin {
  margin-bottom: 10px;
}

.weather-pannel img {
  height: 40px;
  width: 40px;
}

.login-pannel {
  background-color: #01395e;
  display: none;
}

.form-control>input {
  border: none;
  font-size: 1.7rem;
  font-family: 'Lato', sans-serif;
  width: 100%;
  margin: 5px 0;
  outline: none;
}

.login-accept {
  margin: 14px auto 0;
  background-color: #206797
}

.login-error-text {
  margin: 20px auto;
  font-size: 1.6rem;
  color: #ca7641;
  text-align: center;
  display: none;
}

.sumup-pannel {
  z-index: 10;
  font-size: 1.7rem;
  display: none;
}

.sumup.pannel-field {
  padding: 10px 4vw;
  display: flex;
  flex-direction: column;
}

h3.sumup {
  margin: 6px 0;
}

p.sumup {
  margin: 3px 0;
}

.btn.sumup {
  margin: 14px auto 0;
  align-self: center;
}

.airplane {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
  display: none;
}

#airplane-svg {
  height: 750px;
  width: 100%;
  margin: 0 auto;
}

.seat:hover {
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

input.empty:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #e9af8b inset;
}

@media only screen and (max-width: 1400px) and (min-width: 800px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (min-width: 800px) {
  body {
    height: 100vh;
  }
  nav {
    padding: 2vh 3vw;
  }

  .logo img {
    height: 60px;
  }

  .logo h1 {
    font-size: 2.8rem;
  }

  .btn-login {
    border-radius: 25px;
    width: 150px;
    height: 50px;
    font-size: 2rem;
  }

  .main-container {
    top: 150px;
  }

  .wrapper {
    width: 20vw;
    padding: 18px 1.2vw;
    border-radius: 25px;
  }
  
  .pannel-field, .form-control {
    border-radius: 25px;
    padding: 5px 1.8vw;
  }

  .calendar {
    padding: 0;
    border-radius: 25px;
  }

  .weekdays div {
    width: calc((20vw - 2.4vw - 2px) / 7);
  }

  .days div {
    margin: 0.1rem;
    width: calc((20vw - 2.4vw - 2px - 2rem) / 7);
    height: calc((366px - 36px - 16px - 8rem) / 6);
  }

  .search-pannel {
    left: 0;
  }

  .options-pannel {
    left: 20.5vw;
  }

  .weather-pannel div {
    padding: 0 1.2vw;
  }

  .login-pannel {
    left: 68vw;
  }

  .sumup-pannel {
    left: 50%;
    transform: translateX(-50%);
  }

  .sumup.pannel-field {
    padding: 10px 1.8vw;
  }

  .airplane {
    width: 20vw;
    left: 20.5vw;
    overflow-y: auto;
  }

  #airplane-svg {
    height: 700px;
  }
}